* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('../images/fondo_dashboard.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #093657;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #10a5cd;
}

/* Contenedor principal */
.dashboard-container {
    padding: 40px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-container h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #093657;
}

/* Tarjetas */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 20px;
    color: #093657;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #666;
}

/* Estilo del botón */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #10a5cd;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #093657;
}

/* Media Queries */
@media (max-width: 768px) {
    .dashboard-container {
        padding: 20px 10px;
    }

    .card {
        width: 100%;
    }

    header {
        flex-direction: column;
        text-align: center;
    }
}