<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EduControl: Controla la asistencia de tus clases de manera automatizada con códigos QR.">
    <title>EduControl - Inicio</title>
    <!-- Enlace a CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Icono del sitio -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/educontrol.png') }}" type="image/x-icon">
    <!-- Enlace a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Fuente Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <!-- Logotipo -->
            <img src="{{ url_for('static', filename='images/educontrol.svg') }}" alt="Logo de EduControl">
            <h1>
                <span class="edusize">Edu</span>
                <span class="controlsize">Control</span>
            </h1>
        </div>
        <nav>
            <!-- Navegación entre páginas -->
            <a style="color: #01548f;" href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('login') }}">Portal</a>
            <a href="{{ url_for('qr') }}">Código QR</a>
        </nav>
    </header>

    <main>
        <h2><span style="color: #10a5cd;">Lleva el </span><strong style="color: #093657;">Control</strong> <span style="color: #10a5cd;">de tu clase</span></h2>
        <div class="content">
            <!-- Primera tarjeta -->
            <div class="card" data-aos="fade-up">
                <img src="{{ url_for('static', filename='images/aula.png') }}" alt="Aula de clases">
                <p><strong style="color: #10a5cd;">Asistencia:</strong> controla la asistencia de tus alumnos de forma automatizada por QR</p>
            </div>
            <!-- Segunda tarjeta -->
            <div class="card" data-aos="fade-up">
                <img src="{{ url_for('static', filename='images/padres_foto.png') }}" alt="Padres y estudiantes">
                <p><strong style="color: #10a5cd;">Conecta con Apoderados:</strong> Informa a los apoderados de emergencias o problemas con algún alumno.</p>
            </div>
        </div>
        <!-- Pie de página -->
        <p class="footer-text">&copy; EduControl 2024 todos los derechos reservados</p>
    </main>
</body>

<!-- Enlaces a JavaScript -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    AOS.init();
</script>

</html>
